.navbar__item8
 li.navbar__item
  a(href='/')
   svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 26 26', width='24', height='24')
     path(fill='none', d='M0 0h24v24H0z')
     path(fill='currentColor', d='m21 7.702-8.5 4.62v9.678c1.567-.865 6.379-3.517 7.977-4.399.323-.177.523-.519.523-.891zm-9.5 4.619-8.5-4.722v9.006c0 .37.197.708.514.887 1.59.898 6.416 3.623 7.986 4.508zm-8.079-5.629 8.579 4.763 8.672-4.713s-6.631-3.738-8.186-4.614c-.151-.085-.319-.128-.486-.128-.168 0-.335.043-.486.128-1.555.876-8.093 4.564-8.093 4.564z')
   span 首页
 li.navbar__item
  a(href='/categories/技术交流/')
   svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 26 26', width='24', height='24')
     path(fill='none', d='M0 0h24v24H0z')
     path(fill='currentColor', d='M12 0c-4.418 0-8 3.582-8 8v8c0 4.418 3.582 8 8 8s8-3.582 8-8v-8c0-4.418-3.582-8-8-8zm0 7.5c-.829 0-1.5-.672-1.5-1.5s.671-1.5 1.5-1.5 1.5.672 1.5 1.5-.671 1.5-1.5 1.5z')
   span 技术交流
 li.navbar__item
  a(href='/categories/经验分享/')
   svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 26 26', width='24', height='24')
     path(fill='none', d='M0 0h24v24H0z')
     path(fill='currentColor', d='M14 12c0 1.103-.897 2-2 2-1.104 0-2-.897-2-2s.896-2 2-2c1.103 0 2 .897 2 2zm9.778-2.271c.142.736.222 1.494.222 2.271 0 6.627-5.373 12-12 12s-12-5.373-12-12 5.373-12 12-12c4.545 0 9.564 2.835 9.996 7.056.373 3.646-2.594 6.949-3.192 7.574l1.445 1.383c.549-.574 2.784-3.073 3.529-6.284zm-19.258-.52c.814-2.157 2.529-3.869 4.691-4.677l-.129-1.019c-2.613.896-4.68 2.958-5.582 5.569l1.02.127zm4.945-2.64l-.131-1.041c-1.721.71-3.096 2.085-3.807 3.807l1.041.13c.598-1.272 1.625-2.299 2.897-2.896zm6.535 5.431c0-2.209-1.791-4-4-4s-4 1.791-4 4 1.791 4 4 4 4-1.791 4-4zm3.784 4.94l-1.878-1.832-2.64 2.679 1.882 1.834 2.636-2.681z')
   span 经验分享
 li.navbar__item
  a(href='/categories/生活感触/')
   svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 26 26', width='24', height='24')
     path(fill='none', d='M0 0h24v24H0z')
     path(fill='currentColor', d='M23.873 9.81c.085-.251.127-.509.127-.763 0-.77-.38-1.513-1.055-1.982-2.152-1.492-1.868-1.117-2.68-3.544-.338-1.014-1.321-1.7-2.429-1.696-2.653.008-2.193.153-4.335-1.354-.447-.314-.974-.471-1.501-.471s-1.054.157-1.502.471c-2.155 1.515-1.688 1.362-4.334 1.354-1.108-.003-2.09.683-2.429 1.696-.812 2.433-.534 2.055-2.68 3.544-.675.469-1.055 1.212-1.055 1.982 0 .254.042.512.127.763.83 2.428.827 1.963 0 4.38-.085.251-.127.509-.127.763 0 .77.38 1.514 1.055 1.982 2.147 1.489 1.868 1.114 2.68 3.544.338 1.014 1.321 1.7 2.429 1.696 2.654-.009 2.193-.152 4.335 1.354.447.314.974.471 1.501.471s1.054-.157 1.502-.471c2.142-1.506 1.681-1.362 4.335-1.354 1.108.003 2.09-.683 2.429-1.696.813-2.428.528-2.053 2.68-3.544.674-.468 1.054-1.212 1.054-1.982 0-.254-.042-.512-.127-.763-.831-2.427-.827-1.963 0-4.38zm-14.06 6.855h-1.995c-.183 0-.328-.155-.318-.336.034-.575.367-2.461 1.519-9.879.041-.259.261-.45.519-.45h3.672c1.964 0 3.416 1.154 3.015 3.22-.412 2.15-1.725 3.195-4.011 3.195l-1.13.001c-.463.001-.635.177-.693.59l-.578 3.659zm7.602-4.971c-.424 2.209-1.873 2.973-3.724 2.973h-.286c-.226 0-.419.167-.454.394l-.402 2.545c-.035.227-.227.394-.454.394h-1.368c-.195 0-.344-.174-.314-.366l.693-4.44.031-.028h1.077c2.618 0 4.255-1.309 4.736-3.784.406.408.549.939.549 1.499.001.267-.032.542-.084.813z')
   span 生活感触     
 li.navbar__item
  a(href='/categories/软件推荐/')
   svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 26 26', width='24', height='24')
     path(fill='none', d='M0 0h24v24H0z')
     path(fill='currentColor', d='M21 9c-1.656 0-3 1.343-3 3s1.344 3 3 3 3-1.343 3-3-1.344-3-3-3zm-15 9c-1.657 0-3 1.343-3 3s1.343 3 3 3c1.656 0 3-1.343 3-3s-1.344-3-3-3zm3-15c0 1.657-1.344 3-3 3s-3-1.343-3-3 1.344-3 3-3 3 1.343 3 3zm1.588-1.979l.412-.021c4.281 0 7.981 2.45 9.8 6.021-.717.029-1.39.21-1.998.511-1.555-2.703-4.466-4.532-7.802-4.532 0-.703-.149-1.372-.412-1.979zm10.212 15.958c-1.819 3.571-5.519 6.021-9.8 6.021l-.412-.021c.263-.607.412-1.276.412-1.979 3.336 0 6.247-1.829 7.802-4.532.608.302 1.281.483 1.998.511zm-18.91 1.186c-1.193-1.759-1.89-3.88-1.89-6.165s.697-4.406 1.89-6.165c.392.566.901 1.039 1.487 1.403-.867 1.383-1.377 3.012-1.377 4.762s.51 3.379 1.377 4.762c-.586.364-1.096.837-1.487 1.403z')
   span 软件推荐 
 li.navbar__item
  a(href='/categories/学习经验/')
   svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 26 26', width='24', height='24')
     path(fill='none', d='M0 0h24v24H0z')
     path(fill='currentColor', d='M17 7h-10v1h10v-1zm0 2h-10v1h10v-1zm-4 2h-6v1h6v-1zm9.042 4.638c.06.255-.277.414-.391.144-.136-.33-.356-1.734-.547-3.146-.103-.756-1.107-.663-1.104.118.003 1.215.002 2.228 0 4.027-.002 1.535.697 1.565 1.213 3.287.088.296.164.618.226.933l2.561-.895c-.893-1.747-.462-3.126-.373-4.255.122-1.543-.288-1.693-2.192-3.548.114.816.352 2.265.607 3.335zm-19.477-3.334c-1.904 1.854-2.314 2.005-2.192 3.548.089 1.128.52 2.507-.373 4.254l2.562.894c.062-.314.138-.637.226-.933.515-1.721 1.214-1.752 1.212-3.287-.002-1.8-.003-2.812 0-4.027.003-.781-1.002-.874-1.104-.118-.19 1.412-.411 2.816-.547 3.146-.113.271-.45.111-.391-.144.255-1.069.493-2.518.607-3.333zm2.435 4.696l.004-2h13.992l.004 2h-14zm-2-5.819v-6.681c0-.828.672-1.5 1.5-1.5h15c.828 0 1.5.672 1.5 1.5v6.681c-.138-.04-.282-.065-.436-.065-.41-.001-.812.166-1.102.457-.289.29-.449.686-.463 1.118v-7.691h-13.999v7.689c-.014-.432-.174-.827-.463-1.117-.29-.291-.691-.457-1.102-.457-.152 0-.296.026-.435.066z')
   span 学习经验    
 li.navbar__item
  a(href='/categories/博客记录/')
   svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 26 26', width='24', height='24')
     path(fill='none', d='M0 0h24v24H0z')
     path(fill='currentColor', d='m19 20.25c0-.402-.356-.75-.75-.75-2.561 0-11.939 0-14.5 0-.394 0-.75.348-.75.75s.356.75.75.75h14.5c.394 0 .75-.348.75-.75zm-12.023-7.083c-1.334 3.916-1.48 4.232-1.48 4.587 0 .527.46.749.749.749.352 0 .668-.137 4.574-1.493zm1.06-1.061 3.846 3.846 8.824-8.814c.195-.195.293-.451.293-.707 0-.255-.098-.511-.293-.706-.692-.691-1.742-1.741-2.435-2.432-.195-.195-.451-.293-.707-.293-.254 0-.51.098-.706.293z')
   span 博客记录     
 li.navbar__item
  a(href='/categories/个人相册/')
   svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 26 26', width='24', height='24')
     path(fill='none', d='M0 0h24v24H0z')
     path(fill='currentColor', d='M16 12c0 2.206-1.794 4-4 4s-4-1.794-4-4 1.794-4 4-4 4 1.794 4 4zm8-7v14c0 2.761-2.238 5-5 5h-14c-2.761 0-5-2.239-5-5v-14c0-2.761 2.239-5 5-5h14c2.762 0 5 2.239 5 5zm-6 7c0-3.313-2.687-6-6-6s-6 2.687-6 6 2.687 6 6 6 6-2.687 6-6zm3-8c0-.552-.448-1-1-1s-1 .448-1 1 .448 1 1 1 1-.448 1-1z')
   span 个人相册    
 li.navbar__item28
  a(href='/categories')
   svg(id='mytop-svg', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 26 26', width='24', height='24')
     path(fill='none', d='M0 0h24v24H0z')
     path(fill='currentColor', d='m12.002 2c5.518 0 9.998 4.48 9.998 9.998 0 5.517-4.48 9.997-9.998 9.997-5.517 0-9.997-4.48-9.997-9.997 0-5.518 4.48-9.998 9.997-9.998zm2.498 9.995c0-.69.56-1.25 1.25-1.25s1.25.56 1.25 1.25-.56 1.25-1.25 1.25-1.25-.56-1.25-1.25zm-3.75 0c0-.69.56-1.25 1.25-1.25s1.25.56 1.25 1.25-.56 1.25-1.25 1.25-1.25-.56-1.25-1.25zm-3.75 0c0-.69.56-1.25 1.25-1.25s1.25.56 1.25 1.25-.56 1.25-1.25 1.25-1.25-.56-1.25-1.25z')
   span 更多     
//.category-bar-items
  .category-bar-item(id='首页')
    a(href="/") 首页
  != getarray_bar("tag")
  a.category-bar-item.category-bar-more(href="/tags/") 更多
