script(src='https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js')
script(src='/js/nav_qqdc.js')
#about-page(style='\
min-height: 860px;\
')
 .author-content-item.page-top-card(style='background-image: url(https://cdn1.tianli0.top/gh/Ser-MingShao/HexoPublicStaiciImg/serms/202303141119385.jpg);')
   .content-item-tips &#x76F8;&#x518C;
   span.content-item-title &#x6211;&#x7684;&#x751F;&#x6D3B;
   .content-bottom
     .tips &#x8BB0;&#x5F55;&#x7F8E;&#x597D;&#x751F;&#x6D3B;
     a.banner-button(href='#申请友链')
       i.fa-solid.fa-image
       span &#x7533;&#x8BF7;&#x53CB;&#x94FE;
 .container
    #issues
